.sea-wet:not(.sea-dry),
.sea-wet :not(.sea-dry) { background: none; color: inherit }
.sea-blood { background: var(--sea-vibe) !important; color: var(--sea-ink) !important }
.sea-bleed { background: var(--sea-ink) !important; color: var(--sea-vibe) !important }
.sea-amber { --sea-vibe: Coral; --sea-ink: Black }
.sea-breeze { --sea-vibe: Seashell; --sea-ink: #222 }
.sea-foam { --sea-vibe: Turquoise; --sea-ink: Black }
.sea-fume { --sea-vibe: HotPink; --sea-ink: Black }
.sea-glow { --sea-vibe: Gold; --sea-ink: Black }
.sea-gush { --sea-vibe: Violet; --sea-ink: Black }
.sea-lava { --sea-vibe: RosyBrown; --sea-ink: Black }
.sea-storm { --sea-vibe: Gainsboro; --sea-ink: Black }
.sea-tide { --sea-vibe: DeepSkyBlue; --sea-ink: Black }
